.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
}

.header-left {
  display: flex;
  align-items: center;
  margin: 8px;
}

.header-logo {
  width: 40px;
  height: 20px;
  margin-right: 8px;
}

.header-text {
  width: 180px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #252c34;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  gap: 24px;
  flex-direction: "row";
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px;
}

.header-link {
  width: wrap;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #252c34;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 8px;
}

.header-link.red {
  color: #f26969;
}

.confirmation-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.confirmation-dialog p {
  width: 650px;
  height: 96px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #252c34;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
  margin: 0;
}

.confirmation-dialog .not-saved {
  color: #ed2828;
}

.confirmation-dialog .confirm-question {
  width: 650px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #252c34;
  flex: none;

  align-self: stretch;
  flex-grow: 0;
  z-index: 3;
}

.confirmation-dialog .button-1st {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  gap: 8px;
  width: 356px;
  height: 64px;
  background: #252c34;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  flex: none;
  order: 4;
  flex-grow: 0;
  z-index: 4;
}

.confirmation-dialog .button-1st:hover {
  background: #4b5768;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: fill;
  height: wrap;
  flex: none;
  flex-grow: 0;
  flex-wrap: wrap;
}

.about-content {
  /* Frame 5090 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  width: fill;
  height: wrap;
  flex-wrap: wrap;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 48px;
}

.about-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  max-width: 480px;

  width: fill;
  height: wrap;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.about-text {
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 16px;
  width: fill;
  height: wrap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #252c34;
  flex: none;
  flex-grow: 0;
  margin: 0;
}

.about-text li {
  margin-bottom: 16px;
}

.about-text-right {
  text-align: right;
}
